body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

h1, h2 {
    color: #343a40;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
}

.btn-group .btn {
    margin-right: 5px;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

canvas {
    margin: 20px auto;
    display: block;
}
