<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento de Imagem</title>
    <style>
        /* Estilos CSS para a página */
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }
        h1 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type="file"] {
            margin-bottom: 20px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Reconhecimento de Imagem</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
        <input type="submit" value="Enviar">
    </form>
    {% if predictions %}
        <h2>Resultados:</h2>
        <ul>
            {% for prediction in predictions %}
                <li>{{ prediction[1] }} ({{ prediction[2] * 100 }}%)</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</body>
</html>
