<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Sentimentos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Análise de Sentimentos</h1>
        <form action="/analise-sentimento" method="post">
            <textarea name="texto" placeholder="Insira o texto aqui"></textarea>
            <button type="submit">Analisar Sentimento</button>
        </form>
        <h2>Adicionar Palavra ou Expressão</h2>
        <form action="/adicionar-palavra" method="post">
            <label for="palavra">Palavra ou Expressão:</label>
            <input type="text" name="palavra" id="palavra" required>
            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo" required>
                <option value="positiva">Palavra Positiva</option>
                <option value="negativa">Palavra Negativa</option>
                <option value="expressao_positiva">Expressão Positiva</option>
                <option value="expressao_negativa">Expressão Negativa</option>
            </select>
            <label for="peso">Peso:</label>
            <input type="number" name="peso" id="peso" required>
            <button type="submit">Adicionar Palavra ou Expressão</button>
        </form>
    </div>
</body>
</html>
